{% if site.comments.provider == "giscus" %}
<script src="https://giscus.app/client.js"
        data-repo="{{ site.comments.giscus.repo }}"
        data-repo-id="{{ site.comments.giscus.repo_id }}"
        data-category="{{ site.comments.giscus.category }}"
        data-category-id="{{ site.comments.giscus.category_id }}"
        data-mapping="{{ site.comments.giscus.mapping }}"
        data-strict="{{ site.comments.giscus.strict }}"
        data-reactions-enabled="{{ site.comments.giscus.reactions_enabled }}"
        data-emit-metadata="{{ site.comments.giscus.emit_metadata }}"
        data-input-position="{{ site.comments.giscus.input_position }}"
        data-theme="{{ site.comments.giscus.theme }}"
        data-lang="{{ site.comments.giscus.lang }}"
        crossorigin="anonymous"
        async>
</script>
{% elsif site.comments.provider == "utterances" %}
<script src="https://utteranc.es/client.js"
        repo="{{ site.comments.utterances.repo }}"
        issue-term="{{ site.comments.utterances.issue_term }}"
        theme="{{ site.comments.utterances.theme }}"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
